@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* border: solid red 0.5px; */
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

.orange {
  color: #ff8709;
  background: none;
}

.demo {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: left;
  height: 100vh;
}
