@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* border: solid red 0.5px; */
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

.orange {
  color: #ff8709;
  background: none;
}

.demo {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: left;
  height: 100vh;
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 350vw;
  display: flex;
  gap: 5px;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 130vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  letter-spacing: var(--headlineMedium);
  font-size: 12vw;
  text-transform: uppercase;
}
